@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
  background: url("./libs/images/hogwarts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  color: whitesmoke;
  font-family: 'Suse';
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #13271f9d, #13271f, #13271f);
  z-index: 0;
}

h1 {
  font-family: "Harry Potter", sans-serif;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  color: whitesmoke;
}

h2 {
  font-size: x-large;
  text-align: center;
  z-index: 10;
  background: #00000066;
  padding: 1rem;
  border-radius: 1rem;
  display: none;
}

button {
  background: #6fffc8;
  height: auto;
  width: auto;
  border: none;
  border-radius: 10px;
  color: #13271f;
  z-index: 10;
  padding: 0.5rem;
}

.options {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  gap: 0.5rem;
}

.option {
  border: none;
  border-radius: 10px;
  background: #6fffc8;
  color: #13271f;
  padding: 0.5rem;
  width: 100%;
}

.hat {
  display: block;
  width: 20%;
  animation: updown 2s infinite;
  filter: drop-shadow(0rem 0rem 0.5rem #6fffc8);
  margin-top: 1rem;
}

.continueButton {
  display: none;
}

.startButton {
  margin: 1rem;
}

.containerIntro {
  display: none;
}

input {
  background: #13271f9d;
  border-radius: 1rem;
  border: 2px solid #6fffc8;
  padding: 1rem;
  color: white;
  outline: none;
  margin-top: 1rem;
  z-index: 10;
}

.containerIntro {
  margin-bottom: 4rem;
}

.flag {
  position: absolute;
  display: none;
  width: 30%;
  z-index: 10;
  top: 0;
}

.flag_left {
  left: 0;
}

.flag_right {
  right: 0;
}

@keyframes updown {
  0% {
    transform: translateY(-0.2rem);
  }
  50% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(-0.2rem);
  }
}

@media (max-width: 500px) {
  .hat {
    width: 40%;
  }
  .options {
    width: 80%;
  }
  .flag {
    width: 40%;
  }
  .flag_right {
    display: none!important;
  }
  .flag_left {
    position: relative;
  }
}
